<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Departure_Board.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Departure_Board.Properties.Settings>
            <setting name="savedInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="savedLoc" serializeAs="String">
                <value>C:\Users\win\Desktop\Xmas</value>
            </setting>
            <setting name="savedUnique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedDisplay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="savedSound" serializeAs="String">
                <value>C:\Users\win\Desktop\Xmas\Ding Dong.wav</value>
            </setting>
        </Departure_Board.Properties.Settings>
    </userSettings>
</configuration>